footer{
	background-color: #77B5FE!important;
}
nav{
	background-color: #77B5FE!important;
}

#form{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#titre1{
	font-size: 30px;
	color: grey;
	font-weight: bold;
}
#titre2{
	font-size: 15px;
	color: grey;
	font-weight: bold;
}
#title{
	text-align: center;
}