#nbContact{
	text-align: right;
	margin-bottom: 2%;
	margin-top:1%;
}
span{
	font-size: 25px;
}
#contactAuch{
	margin-top:1%;
}
#contactTd{
	text-align: right;
}
#boutton{
	text-align: center;
}
footer{
	background-color: #77B5FE!important;
}
nav{
	background-color: #77B5FE!important;
}
#gmail{
	text-align: center;
}
